
/* Sign up Page */
.signUp-logo {
    height: 100px !important;
}

.signUp-form {
    max-width: 31.25rem;
    box-shadow: 0px 1px 3px rgb(100 100 100 / 65%);
}

.btn-signUp > a {
    padding: 10px 12px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 12px;
}

/* cancel button */
.btn-cancel {
   color: black;
   transition: .2s ease-in-out;
}

.btn-cancel:hover {
    color: white;
    background-color: #325D88;
    transition: .2s ease-in-out;
 }

 /* continue button */

 .btn-continue:hover {
    color: white;
    background-color: #1e3852;
    transition: .2s ease-in-out;
 }
 
 .btn-continue {
     color: white;
     background-color: #325D88;
     transition: .2s ease-in-out;
  }


/* sign up / sign in footer */
.footer-text{
    font-size: 13px;
    line-height: 0.2rem;
}

/* Sign In page */
.btn-signIn{
    border-radius: 0px;
    border: 1px black solid;
    width: 100%;
    text-align: center;
    padding: 10px 0;
} 

.accordion-header{
    text-align: center;
}

.accordion{
    width: 500px;
    padding: 30px 100px;
    margin-top: 1rem;
    box-shadow: 0px 1px 3px rgb(100 100 100 / 65%);
}

.accordion-item{
    margin-bottom: 30px;
    border: none;
}

.accordion-body{
    padding: 1rem 0;
}

.input-group{
    padding-bottom: 15px;
}

.btn-send{
    border-radius: 0px;
    border: 1px solid;
    color: #333;
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}