/* Typography */
.font-1 {
  background-color: transparent;
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  vertical-align: middle;
}

.font-2 {
  font-size: 14px;
  line-height: 1rem;
  font-family: Roboto Slab;
  font-weight: 400;
}

.font-3 {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: 0.2em;

  vertical-align: middle;
}

.font-4 {
  font-size: 20px;
  color: #3f3e3e;
}

.font-5 {
  font-weight: 700;
}


/* navigation */
header {
  max-width: 1360px;
}

.nav-small {
  letter-spacing: 0em;
  line-height: 1em;
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 1.6em;
  text-transform: none;
  color: #000;
}

.nav-button {
  background: #30588b;
  color: #fff !important;
  padding: 7px;
  border-radius: 2px;
  width: 90px;
  border: none;
}

.nav-large:hover {
  opacity: 0.7;
}

/* footer */
.main-footer-container {
  background: #272835;
  padding: 20px 0px;
  height: 400px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  gap: 2;
}

.footer-item img {
  width: 3rem;
  margin-bottom: 10px;
}

.copy-right {
  background: #000;
  height: 40px;
  padding-top: 10px;
}

/*media query*/

@media (max-width: 760px) {
  .main-footer-container {
    height: 600px;
  }

  .footer-container {
    display: block;
  }

  .footer-item {
    display: block;
    padding: 5px 0;
  }
}



/* hero-page section */
.heropage-img {
  background-image: url(../images/hero.png) ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 100vh;
  max-height: 750px;
  display: block;
  overflow: hidden;
}

.heropage-text {
  padding-top: 8rem;
  max-width: 1360px;
}

.heropage-h2 {
  font-size: 2.5rem;
  color: #363636;
  width: 50%;
}

.heropage-p {
  font-size: 1.4rem;
  max-width: 500px;
}

@media (max-width: 320px) {
  .heropage-text {
    padding-top: 5rem;
  }
}
@media (max-width: 425px) {
  .heropage-h2 {
    font-size: 18px;
  }
  .heropage-p {
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .heropage-text {
    padding-top: 5rem;
  }
  /* .heropage-h2{
        word-wrap: none;
      } */
}

/* hero-page section ends */

/* hero-page section */

.nyc-icon-color {
  color: #13478abe;
}

.heropage-button {
  background-color: #30588b !important;
}
.heropage-button:hover{
  opacity: 0.5;
}



@media (max-width: 505px) {
  .heropage-text {
    padding: 3em 1em !important;
  }

}
@media (max-width: 425px) {

  .heropage-h2 {
    font-size: 16px;
    width: 90%;
  }

  .heropage-p {
    font-size: 14px;
    max-width: 360px;
  }
  .heropage-img {
    background-size: 230%;
    background-position: 50% 0;
    max-height: 500px;
  }

  .heropage-button{
    font-size: 14px;
  }
}

@media (min-width: 505px) and (max-width:1000px) {
  .heropage-text {
    padding: 4em 2em !important;
  }

  .heropage-h2 {
    font-size: 24px;
    width: 50%;
  }

  .heropage-p {
    font-size: 16px;
    max-width: 230px;
  }
  .heropage-img {
    background-size: 230%;
    max-height: 700px;
  }
  .heropage-button{
    font-size: 20px;
  }
}


/* hero-page section ends */

/* 100% Satisfaction Guaranteed starts */
.satisfaction-guarateed {
  margin-top: 7rem;
}

.satisfaction-pTag {
  font-weight: 600;
  font-size: 40px;
  color: #30588b;

}

.star-icons {
  color: #30588b;
  font-size: 60px;
  margin: 40px;
}

.satisfaction-text {
  max-width: 430px;
  line-height: 2.5rem;
  margin: auto;
}

@media (max-width: 768px) {
  .satisfaction-pTag {
    font-size: 30px;
  }

  .star-icons {
    font-size: 40px;
    margin: 20px;
  }

  .satisfaction-text {
    width: 70%;
  }
}

@media (max-width: 425px) {
  .satisfaction-pTag {
    font-size: 30px;
  }
.satisfaction-guarateed {
  margin-top: 0.5rem;
}
  .star-icons {
    font-size: 20px;
    margin: 5px;
  }

  .satisfaction-text {
    width: 70%;
    line-height: 2rem;
    font-size: 14px;
  }
}



@media (max-width: 380px) {
  /* .satisfaction-pTag {
    font-size: 13px;
  } */

  .satisfaction-text {
    font-size: 12px;
    width: 90%;
    line-height: 1.4rem;
  }
  .satisfaction-guarateed {
  margin-top: 0.01rem;
}
}

/* * 100% Satisfaction Guaranteed Ends */

/* How Dry Clean NYC works start */
.how-nyc-works {
  max-width: 1360px;
}

.nyc-base-header {
  margin-top: 15rem;
}

.nyc-img {
  overflow-x: hidden;
}

.nyc-arrow {
  background-color: #30588b !important;
}

.nyc-display-img {
  width: 21rem;
}

.nyc-button {
  -webkit-padding-start: 0px;
}

.nyc-arrow .nyc-icon2 {
  font-size: 2.3em;
  vertical-align: middle;
  padding-top: 9px;
}
.nyc-base-footer {
  margin-bottom: 10rem;
}
.nyc-arrow:hover{
  opacity: 0.5;
}

@media (max-width: 768px) {
  .nyc-display-img {
    width: 10rem;
  }

  .nyc-header {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .nyc-pTag {
    font-size: 1rem !important;
  }

  .nyc-icon {
    position: relative;
    top: 10rem;
  }

  .nyc-first {
    overflow-y: hidden;
  }
}
@media (max-width: 425px) {
  .nyc-display-img {
    width: 13rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .nyc-header {
    font-size: 1.2rem;
    margin-top: 3rem;
    text-align: center;
  }

  .nyc-pTag {
    font-size: 0.8rem !important;
    text-align: center;
    word-break: keep-all;
  }

  .nyc-icon {
    display: none;
  }

  .nyc-arrow {
    margin-top: 2rem;
    width: 20rem !important;
    height: 5rem !important;
  }
}

@media (max-width: 320px) {
  .nyc-arrow {
    margin-top: 2rem;
    width: 16rem !important;
    height: 5rem !important;
  }
}

/* How Dry Clean NYC works  ends */

/* start of reviews section */
.reviews {
  padding: 100px 8% 200px 8%;
  background-color: #f1f1f3;
}
/* indicators */
.carousel-indicators {
  margin-bottom: -100px;
  gap: 10px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid grey;
  background-color: white;
}

.carousel-indicators .active {
  opacity: 1;
  border: 2px solid #0081ff;
  background-color: #0081ff !important;
}

/* card */
.review-card {
  min-height: 380px;
  border-radius: 12px;
  transition: 0.3s;
}

.review-card:hover {
  opacity: 0.7;
}

.card-text {
  word-break: break-all;
}

/* image */
.review-img {
  top: -50px;
  margin-left: 30px;
  margin-bottom: -30px;
}

.review-date {
  font-size: 14px;
  margin-left: 10px;
}

/* stars */
.fa-star {
  color: rgb(255, 162, 1);
  font-size: 25px;
  margin-right: 5px;
  margin-top: 10px;
}

.hide {
  display: block;
}

@media (max-width: 768px) {
  .hide {
    display: none;
    height: 0px;
  }

  .review-card {
    min-height: 340px;
  }
}

/* reviews section ends */

/* why nyc section starts here */
.why-nyc {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-color: rgb(133, 182, 214, 0.5);
  padding: 100px 0px;
}
/* .how-nyc-works{
    background-color: rgb(133, 182, 214, 0.5);
} */

/* .how-nyc-works{
    background-color: rgb(133, 182, 214, 0.5);
} */

.container-fluid {
  max-width: 1360px;
}

ol li {
  list-style-type: none;
}

ol li:before {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(../images/images.jpg);

  text-align: center;
}

@media (max-width: 425px) {
  .font-3 {
    font-size: 14px;
  }

  .font-4 {
    font-size: 12px;
    color: #3f3e3e;
  }
}

/* why nyc style end here */


/* price list section starts here */
.price-list {
  background-color: #ff8a00;
  padding: 70px 150px 150px 150px;
}

.price-tag {
  padding: 50px 0px 30px 0px;
}

.price-tag h2 {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 60px;
}

.price-width {
  width: 63%;
}

.price-header input {
  width: 300px;
  padding: 12px;
  border: none;
}

.price-header .get-price {
  width: 150px !important;
  background-color: #30588b;
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.price-table-header {
  background-color: #30588b;
  color: white;
}

.hidden {
  display: none;
}

.display-1 {
  display: none;
}

.price-font {
  font-size: 30px;
  color: rgba(29, 29, 29, 0.7);
}

@media (max-width: 768px) {
  .price-list {
    background-color: #ff8a00;
    padding: 70px 20px 150px 20px;
  }

  .price-width {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .price-header input {
    padding: 10px;
    border: none;
  }

  .price-header .get-price {
    font-size: 14px;
  }

  .price-width {
    width: 100%;
  }

  .price-list {
    background-color: #ff8a00;
    padding: 70px 20px 150px 20px;
  }
}

@media (max-width: 320px) {
  .price-header input {
    padding: 8px;
    border: none;
  }

  .price-header .get-price {
    font-size: 13px;
  }

  .price-width {
    width: 100%;
  }

  .price-list {
    background-color: #ff8a00;
    padding: 70px 10px 150px 10px;
  }
}

/* price list section ends here */


/* Retail Locations and Service Area starts here */
.max {
  max-width: 1360px;
}

.retail-location {
  background-color: #f3f3f5;
}

.retail-header {
  margin: 5rem 0 2rem 0;
}

.service-area {
  letter-spacing: 1.5px;
}

.retail-location-map {
  margin-bottom: 7rem;
}

.retail-loc {
  display: none;
}

@media (max-width: 768px) {
  .location-map {
    width: 22rem;
  }

  .service-area {
    font-size: 15px;
  }

  .last-service-area {
    width: 8rem;
  }
}

@media (max-width: 425px) {
  .retail-text {
    font-size: 18px !important;
  }

  .service-area {
    font-size: 13px;
  }


  .last-retail-service {
    margin-bottom: 30px;
  }

  @media (max-width:768px) {
    .location-map {
      width: 22rem;
    }

    .service-area {
      font-size: 15px;
    }

    .last-service-area {
      width: 8rem;
    }
  }

  @media (max-width:425px) {
    .retail-text {
      font-size: 18px !important;
    }

    .service-area {
      font-size: 13px;
    }

    .last-retail-service {
      margin-bottom: 30px;
    }
  }

  @media (max-width:350px) {
    .location-map {
      width: 100%;
    }
  }
}

/* Retail Locations and Service Area Ends here */

/* body {
	background-color: #6DC4F4;
}h1 { 
     color:white;
 
} */

/* faq section starts here */

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s linear;
      margin:15px 0px 15px;
    border-top: 1px solid #f4f4f4;
    padding: 10px 20px;
    color: #6b6a6a;
    font-size: 21px;
    font-family: "Barlow Condensed",sans-serif;
    letter-spacing: 1px;
    background-color: #fff;
    font-weight: 700;
    border-radius: 7px;
    box-shadow: 0px 3px 2px 2px #e2e0e0;
    position: relative;
    text-transform: uppercase;
}

button.accordion:after {
  font-family: FontAwesome;
  content: "\f067";
  font-family: "fontawesome";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "\f068";
}
.faq-sect{
  padding-bottom: 10rem !important;
}
.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.accordion-content p{
      padding: 0 24px;
    letter-spacing: normal;
    color: #383636;
    font-size: 18px;
}

.faq-section {
  background-color: rgb(133, 182, 214, 0.5);
}



.custom-counter li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

.custom-counter li::before {
  content: counter(step-counter);
   padding: 3px 8px;
}
.faq-section h2{
  font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    letter-spacing: 0em;
    font-family: Roboto Slab;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    letter-spacing: .05em;
    line-height: 1.2em;
    text-transform: none;
}
.faq-title{
      font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0em;
    line-height: 1.2em;
    font-family: Roboto Slab;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    letter-spacing: .05em;
    line-height: 1.4em;
    text-transform: none;
}
.faq-title-p{
      font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.6em;
    font-family: muli;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .05em;
    line-height: 1.8em;
    text-transform: none;
    color: rgba(29,29,29,.7);
}

@media (max-width: 768px) {
button.accordion {
    font-size: 18px;
}

button.accordion:after {
  font-size: 12px;
 
}

}
@media (max-width: 425px) {
button.accordion {
    font-size: 12px;

}

button.accordion:after {

  font-size: 8px;
}

.accordion-content p{
    
    font-size: 16px;
}

.faq-section h2{
    font-size: 18px;
}
}

/* styel */
