.font-1{
    background-color: transparent;
    font-family: Rubik;
font-weight: 400;
font-style: normal;
font-size: 12px;
letter-spacing: .2em;
text-transform: uppercase;
    vertical-align: middle;
      /* display: inline-block; */

}
.font-2{
    font-size: 14px;
    line-height: 1rem;
    font-family: Roboto Slab;
    font-weight: 400;
}
.font-3{
      
    font-family: Rubik;
font-weight: 700;
font-style: normal;
font-size: 1.8rem;
letter-spacing: .2em;

    vertical-align: middle;

}
.font-4{
  font-size: 20px;
  color: #3f3e3e;
}
.font-5{
  font-weight: 700;
}
.nav-small{
/* font-family: Arial,Helvetica,sans-serif; */
letter-spacing: .0em;
line-height: 1em;
font-family: Rubik;
font-weight: 400;
font-style: normal;
font-size: 20px;
letter-spacing: .2em;
line-height: 1.6em;
text-transform: none;
color: #000;
}
.nav-button{
background: #30588b;
color: #fff !important;
padding: 7px;
border-radius: 2px;
width: 90px;
border: none;  
}






.main-footer-container{
background: #272835;
padding: 20px 0px;
height: 400px;
/* padding-top: 10% */

}

.footer-container{
display: flex;
justify-content: center;
align-items: space-between;
gap: 2;
}



.footer-item img{
width: 3rem;
margin-bottom: 10px;
}

.copy-right{
background: #000;
height: 40px;
padding-top: 10px;    
}



/*media query*/

@media(max-width: 760px){
    .main-footer-container{
        height: 600px;
    }
    .footer-container{
        display: block;
    }
    .footer-item{
        display: block;
        padding: 5px 0;
    }

} 

/* hero-page section */

.heropage-img {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 100vh;
    display: block;
  }
  .heropage-text {
    padding-top: 8rem;
  }
  .heropage-h2{
    font-size: 2.5rem;
    color: #363636;
  }
    .heropage-p{
          font-size: 1.4rem;
       }
  @media (max-width: 320px) {
    .heropage-text {
      padding-top: 5rem;
    }
  }
  @media (max-width: 425px) {
    /* .heropage-text{
         padding-top: 5rem;
      } */
    .heropage-h2{
        font-size: 18px;
      }
      .heropage-p{
          font-size: 13px;
       }
  }
  @media (max-width: 375px) {
    .heropage-text {
      padding-top: 5rem;
    }
    /* .heropage-h2{
        word-wrap: none;
      } */
  }

/* hero-page section ends */

/* hero-page section */

.heropage-img {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 100vh;
    display: block;
  }
  .heropage-text {
    padding-top: 10rem;
  }
  .nyc-icon-color{
    color: #13478abe;
  }
  .heropage-button{
    background-color: #30588b!important;
  }
  @media (max-width: 320px) {
    .heropage-text {
      padding-top: 5rem;
    }
  }
  @media (max-width: 425px) {
    /* .heropage-text{
         padding-top: 5rem;
      } */
    .heropage-h2{
        font-size: 18px;
      }
      .heropage-p{
          font-size: 13px;
       }
  }
  @media (max-width: 375px) {
    .heropage-text {
      padding-top: 7rem;
    }
    /* .heropage-h2{
        word-wrap: none;
      } */
  }

/* hero-page section ends */
/* How Dry Clean NYC works start */

.nyc-img{
  overflow-x: hidden;
}
.nyc-arrow {
  background-color:#30588b !important;
}
.nyc-display-img{
  width:21rem;
}
.nyc-button{
  -webkit-padding-start: 0px;
  } 
  .nyc-arrow .nyc-icon2 {
  font-size: 2.3em;
  vertical-align: middle;
  padding-top: 9px;
  }

@media (max-width:768px) {
.nyc-display-img{
  width:10rem;
}
.nyc-header{
  font-size: 1.5rem;
  margin-top:3rem ;
}
.nyc-pTag{
  font-size: 1rem!important;
}
.nyc-icon{
    position: relative;
    top:10rem;
}
.nyc-first{
  overflow-y: hidden;
}

}

@media (max-width:425px) {
  .nyc-display-img{
    width:13rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }
  .nyc-header{
    font-size: 1.2rem;
    margin-top:3rem ;
    text-align: center;
  }
  .nyc-pTag{
    font-size: 0.8rem!important;
    text-align: center;
    word-break: keep-all;
  }
  .nyc-icon{
      display: none;
  }
  .nyc-arrow {
    margin-top: 2rem;
    width:20rem !important;
    height: 5rem !important; 
  }
  }
  @media (max-width:320px) {
    .nyc-arrow {
      margin-top: 2rem;
      width:16rem !important;
      height: 5rem !important; 
    }
  }

/* How Dry Clean NYC works  ends */


/* start of reviews section */
.reviews{
    padding: 200px 5%;
    background-color: #f1f1f3;
}

/* indicators */
.carousel-indicators{
   margin-bottom: -100px;
   gap: 10px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: white;
}

.carousel-indicators .active{
    opacity: 1;
    border:2px solid #0081FF;
    background-color: #0081FF !important;
}

/* card */
.review-card{
    min-height: 380px;
    border-radius: 12px;
    transition:.3s;
}
.review-card:hover{
  opacity: 0.7;
}
.card-text{
    word-break: break-all;
}

/* image */
.review-img{
    top: -50px;
    margin-left: 30px;
    margin-bottom: -30px;
}
.review-date{
    font-size: 14px;
    margin-left: 10px;
}
/* stars */
.fa-star{
    color: rgb(255, 162, 1);
    font-size: 25px;
    margin-right: 5px;
    margin-top: 10px;
}
.hide{
    display:block;
}
@media (max-width: 768px) {
.hide{
    display: none;
    height: 0px;
}
.review-card{
    min-height: 340px;
}
}
/* reviews section ends */

/* why nyc section starts here */
.why-nyc{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/background.png);
  background-color:#a9adb6 ;

}
.why-nyc-image-div{
  margin-top: 6rem;
}

ol li {
  list-style-type: none;

}
ol li:before {

background-position: center;
background-size: cover;
background-repeat: no-repeat;
background: url(../images/images.jpg);

text-align: center;
}
 @media (max-width: 425px) {
.font-3{
font-size: 14px;
}
.font-4{
  font-size: 12px;
  color: #3f3e3e;
}

  
  }

  /* why nyc style end here */