
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
footer{
    width: 100%;
    text-align: center;
    color: #fff;

}

.container{
    width: 90%;
    margin:0 auto;
}

.main-footer-container{
    background: #272835;
    padding: 20px 0px;
    height: 400px;
    padding-top: 10%
    
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.footer-item{
    font-size: 1.5rem;
}

.footer-item img{
    width: 3rem;
    margin-bottom: 10px;
}

.copy-right{
    background: #000;
    height: 40px;
    padding-top: 10px;
}



/*media query*/

@media(max-width: 760px){
    .main-footer-container{
        height: 600px;
    }
    .footer-container{
        display: block;
    }
    .footer-item{
        display: block;
        padding: 5px 0;
    }
}