.font-1{
        background-color: transparent;
        font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
        vertical-align: middle;
          /* display: inline-block; */

}
.nav-small{
    /* font-family: Arial,Helvetica,sans-serif; */
    letter-spacing: .0em;
    line-height: 1em;
    font-family: Rubik;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .2em;
    line-height: 1.6em;
    text-transform: none;
    color: #000;
}
.nav-button{
   background: #30588b;
    color: #fff !important;
    padding: 7px;
    border-radius: 2px;
    width: 90px;
  border: none;  
  


}