.heropage-img {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 100vh;
  display: block;
}
.heropage-text {
  padding-top: 10rem;
}
@media (max-width: 320px) {
  .heropage-text {
    padding-top: 5rem;
  }
}
@media (max-width: 425px) {
  /* .heropage-text{
       padding-top: 5rem;
    } */
  .heropage-h2{
      font-size: 18px;
    }
    .heropage-p{
        font-size: 13px;
     }
}
@media (max-width: 375px) {
  .heropage-text {
    padding-top: 7rem;
  }
  /* .heropage-h2{
      word-wrap: none;
    } */
}
